<a href="https://colab.research.google.com/github/DmitriiDenisov/talks/blob/master/pyWats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sources:**

https://github.com/cosmologicon/pywat

https://www.youtube.com/watch?v=sH4XF6pKKmk&list=WL&index=9&t=491s

https://www.reddit.com/r/programming/comments/3obd4a/python_wats/

In [ ]:
from platform import python_version
print(python_version())

### 1. Different types:

In [2]:
type(1) == type(-1)

True

In [3]:
1 ** 1 == 1 ** -1

True

In [4]:
type(1 ** 1) == type(1 ** -1)

False

#### Answer

**type(1 ** 1) is int meanwhile type(1 ** -1) is float**

### 2. Operator precedence?

In [5]:
(False == False) in [False]

False

In [6]:
False == (False in [False])

False

In [7]:
False == False in [False]

True

In [8]:
1 in [1,2] == True

False

#### Answer

**Neither the == nor the in happens first. They're both comparison operators,with the same precedence, so they're chained. The line is equivalent to False == False and False in [False], which is True**

Source: https://stackoverflow.com/questions/31354429/why-is-true-is-false-false-false-in-python

### 3. Types in comparisons

In [13]:
a = [0, 0]
(x, y) = a

In [14]:
print(x)
print(y)

0
0

In [15]:
(x, y) == a

False

#### Answer:

**Different types: tuple and list, we can not compare them!**

#### One more:

In [16]:
[1,2,3] == sorted([1,2,3])

True

In [17]:
(1,2,3) == sorted((1,2,3))

False

#### Answer:

**Again different types! sorted(...) returns list, meanwhile (1, 2, 3) is tuple!**

#### Continue with sorting:

In [18]:
a = (2, 1, 3)
sorted(a) == sorted(a)

True

In [19]:
reversed(a) == reversed(a)

False

#### Answer

**reversed(...) returns an iterator. One iterator is not equal to another iterator**

#### Continue with reversed:

In [22]:
b = reversed(a)
sorted(b) == sorted(b)

False

#### Answer

**reversed(...) returns iterator, sorted(...) calls this iterator and at first call reversed(...) returns expected list, however on second call it returns empty list because it has already returned everything during first call**

### 4. extend vs +=

In [26]:
# Reminder of how extend works
a = [1]
a.extend([5,-1,3])
a

[1, 5, -1, 3]

In [27]:
# Reminder of how += works
a = [1]
a += [-1, 4, 23, 0]
a

[1, -1, 4, 23, 0]

In [ ]:
a = ([],)
a[0].extend([1])
a

In [ ]:
a[0] += [2]

In [ ]:
a

#### Answer

+= is quivalent to:
```
result = a_list.__iadd__([1]) # same as calling extend 
a_list = result
```


Source: https://docs.python.org/3/faq/programming.html#why-does-a-tuple-i-item-raise-an-exception-when-the-addition-works

### 5.All and emptiness

In [ ]:
all([True, True, True, True, True])

In [ ]:
all([False, True, True, True, True])

In [ ]:
all([])

In [ ]:
all([[]])

In [ ]:
all([[[]]])

In [ ]:
all([[[[]]]])

#### Answer

all(...) applies bool(...) to every element that is fed inside, for example `all([[]])` is equivalent to `all([bool([])])` 

Let's see in python:

In [ ]:
bool([]) # => construction all([[]]) is equivalent to all([False]) what is by definition False

Meanwhile `all([[[]]])` is equivalent to `all([bool([[]])])`

In [ ]:
bool([[]]) # because bool([]) = False and bool([False]) = True

Thus construction `all([[[]]])` is the same as `all([True])` what is True by defenition

### 6. Global function

In [ ]:
a = 1

In [ ]:
def func():
  return a

In [ ]:
func()

In [ ]:
def func_new():
  a += 1
  return a

In [ ]:
func_new()

### 7. NaN

In [ ]:
x = float("nan")
y = float("nan")
x == x

In [ ]:
[x] == [x]

In [ ]:
[x] == [y]

### 8. Final example

In [ ]:
a = 100
b = 100
a is b

In [ ]:
a = 300
b = 300
a is b

#### Answer

In [ ]:
a = 100
b = 100
id(a) == id(b)

In [ ]:
a = 300
b = 300
id(a) == id(b)

**The current implementation keeps an array of integer objects for all integers between -5 and 256, when you create an int in that range you actually just get back a reference to the existing object. So it should be possible to change the value of 1**

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/1.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/2.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/3.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/4.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/5.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/6.jfif?raw=true" width="300">

<img src="https://github.com/DmitriiDenisov/talks/blob/master/images/7.jfif?raw=true" width="300">

In [ ]:
a, b = 300, 300
a is b

In [ ]:
import ctypes
import sys

def mutate(obj, new_obj):
    if sys.getsizeof(obj) != sys.getsizeof(new_obj):
        raise ValueError('objects must have same size')

    mem = (ctypes.c_byte * sys.getsizeof(obj)).from_address(id(obj))
    new_mem = (ctypes.c_byte * sys.getsizeof(new_obj)).from_address(id(new_obj))

    for i in range(len(mem)):
        mem[i] = new_mem[i]

In [ ]:
x = 'a'
print('x =', x)

In [ ]:
mutate('a', 'b')
print('Now x =', x) # prints: 'b'

In [ ]:
'a'

In [ ]:
mutate(50, 100)

In [ ]:
50

In [ ]:
50 + 1

In [ ]:
50 * 2

In [ ]:
25 * 2

In [ ]:
49 + 1

In [ ]:
50 * 2 == 200

In [ ]:
50 // 2 == 100 ## Why True?

In [ ]:
a = 500
print('a = ', a)
b = 500
print('b = ', b)

In [ ]:
mutate(a, 600)
print('Now a = ', a) # prints: 400
print('Now b = ', b) # prints: 300

#### Change to python2 and swap True and False

In [ ]:
True, False = False, True

In [ ]:
if False:
  print('1')
else:
  print('2')

### 8.1 Bonus (remove?)

In [ ]:
one = [1, 2]
two = [one, one]
one[1] = 100
two

In [ ]:
expected = [ [9],[0] ]
unexpected = [ [9],[9] ]
basic = [ [0],[0] ]
basic[0][0] = 9
print(basic == expected) # this is true

In [ ]:
l = [0]
modified = [ l, l ]
modified[0][0] = 9
print(modified == expected) # this is false
print(modified == unexpected) # this is true

In [ ]:
modified

## Fast Quiz!

#### Question 1:

In [ ]:
x, y = ## ???
x+y == y+x # Should be False

#### Question 2:

In [ ]:
x, y, z = ## ???

In [ ]:
x * (y * z) == (x * y) * z ## Should be False

#### Question 3:

In [ ]:
x, y = "aa", "aa" ## ???
y > max(x) and y in x ## Should be True